<div id="<%= dom_id recipe %>">
  <div class="recipe-card">
    <div class="recipe-name-contnr">
      <h5>
        <%= recipe.name %>
      </h5>
      <h4>By: <%= recipe.user.name %></h4>
    </div>
    <div class="recipe-descrptn-contnr">
      <p>
        <%= recipe.description %>
      </p>
    </div>
  </div><br>
</div>