<div>
  <div class='recipe-card w-75 mx-auto'>
    <div class="public-recipe-name-contnr">
      <h4>
        <%= recipe.name %>
      </h4>
      <h5>By: <%= recipe.user.name %></h5>
    </div>
    <div class="recipe-descrptn-contnr">
      <p>
        <%= recipe.description %>
      </p>
    </div>
  </div><br>
</div>