<h1>Editing user</h1>

<%= render "form", user: @user %>

<div id="users">
  <h2><%= 'Foods' %></h2>
</div>

<br>

<div>
  <%= link_to "Show this user", @user %> |
  <%= link_to "Back to users", users_path %>
</div>
