<div class='card mt-5'  style='width: 30rem; margin-right: auto; margin-left: auto'>
  <div class='card-header'>
    <h2>Add New Recipe Food</h2>
  </div>

    <%= render "form", recipe_food: @recipe_food  %>

    <br>
  </div>
